# ANTHROPIC_API_KEY=sk-YYRlEk1h5USYiUmwfIsiG6sRfAMwOl0yW1ASSFKwIZbCabip
# OPENAI_API_KEY=sk-YYRlEk1h5USYiUmwfIsiG6sRfAMwOl0yW1ASSFKwIZbCabip
OPENAI_API_BASE="http://35.220.164.252:3888/v1"
OPENAI_API_KEY="sk-hrrRN333pDjBYVdBcUXD8kZTcyjP2j8GX79NUQiIQqvnxRgZ"
